﻿@model IEnumerable<Novo.Models.Entity.MyTask>
@using Novo.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Staff List";
    var user = await UserManager.GetUserAsync(User);
}



<div class="row m-auto">
    <div class="col-md-12 m-auto grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Task List</li>

                    </ol>
                </nav>
                <div class="row">

                    @if (Model.Any())

                    {
                        <div class="col-md-12 table-responsive-md">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>TaskName</th>
                                        <th style="width: 500px;">Description</th>
                                        <th style="width: 200px;">Assigned By</th>
                                        <th style="width: 100px;">StartDate</th>
                                        <th style="width: 100px;">EndDate</th>
                                        <th>Unit-Head</th>
                                        <th>Hr.</th>
                                        <th>Status</th>
                                        <th class="text-warning">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.TaskName</td>
                                        <td>@item.TaskDescription</td>
                                        <td>@item.AssignBy</td>
                                        <td>@item.ExpectedStartDate</td>
                                        <td>@item.ExpectedEndDate</td>
                                       

                                        <td>
                                            @if (item.isUnitHeadDisapprove == true)
                                            {
                                                <p>Unsatisfactory</p>
                                            }
                                            else if (item.isUnitHeadApproved == true && item.isUnitHeadDisapprove == false)
                                            {
                                                <p>satisfactory</p>
                                            }
                                            else
                                            {
                                                <p>Awaiting Response</p>
                                            }
                                        </td>
                                        <td>
                                            @if (item.isHrDisapprove == true)
                                            {
                                                <p>Unsatisfactory</p>
                                            }
                                            else if (item.isHrApproved == true && item.isHrDisapprove == false)
                                            {
                                                <p>satisfactory</p>
                                            }
                                            else
                                            {
                                                <p>Awaiting Response</p>
                                            }
                                        </td>
                                        <td>
                                            @if (item.isHrApproved == false && item.isUnitHeadApproved == false)
                                            {
                                                <p>Undergoing Review</p>
                                            }
                                            else if (item.isHrApproved == true && item.isUnitHeadApproved == true && item.isHrDisapprove == false && item.isUnitHeadDisapprove == false)
                                            {
                                                <p>satisfactory</p>
                                            }
                                        </td>

                                        <td>

                                            @if (item.isHrApproved == false && item.isUnitHeadApproved == false)
                                            {

                                                <ul class="list-unstyled">
                                                    <li class="nav-item dropdown no-arrow">
                                                        <button class="btn btn-outline-info dropdown-toggle small" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Action<span class="caret"></span>
                                                        </button>
                                                        <!-- Dropdown - User Information -->
                                                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                                            @*<a class="dropdown-item" asp-action="DetailsUnit" asp-route-id="@item.Id">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Leave Handover Note
                            </a>*@
                                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">
                                                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                Edit
                                                            </a>
                                                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">
                                                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                Details
                                                            </a>

                                                        </div>
                                                    </li>
                                                </ul>
                                            }

                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table><br />

                        </div>
                    }
                    else
                    {
                       
                <h5 class="text-center text-info">There is no task assigned to you yet,kindly check back later.....</h5> 

                    }



                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />

