﻿@model Novo.Models.Entity.Leaves

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Create";
    var user = await UserManager.GetUserAsync(User);
}



<div class="col-md-8 m-auto grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Leave List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Leave Request</li>
                </ol>
            </nav><br />
                  <form asp-action="Create">
                      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                      @{
                          var total = @ViewBag.CurrentLeaves + @ViewBag.OutstandingLeaves;
                          var remain = total - @ViewBag.Utilized;
                      }
                      <h5>Email Address: @ViewBag.ToEmail</h5>
                      <h5>Email Address: @ViewBag.FromEmail   </h5>

                      <h5>Number of Current Leaves: @ViewBag.CurrentLeaves</h5>
                      <h5>Number of Outstanding Leaves: @ViewBag.OutstandingLeaves</h5>
                      <h5>Leaves Utilized: @ViewBag.Utilized</h5>
                      <h5>Total Number of Leaves: @total</h5>
                      <h5>Remaining Leaves: @remain</h5>
                      <div class="form-group">
                          <label asp-for="LeaveRemaining" class="control-label"></label>
                          <input asp-for="LeaveRemaining" value="@remain" readonly class="form-control" />
                          <span asp-validation-for="LeaveRemaining" class="text-danger"></span>
                      </div>
                      <div class="form-group">
                          <label asp-for="TotalLeave" class="control-label"></label>
                          <input asp-for="TotalLeave" value="@total" readonly class="form-control" />
                          <span asp-validation-for="TotalLeave" class="text-danger"></span>
                      </div>
                      <div class="form-group">
                          <label asp-for="StartDate" class="control-label"></label>
                          <input asp-for="StartDate" type="text" id="TxtFrom" class="form-control" />
                          <span asp-validation-for="StartDate" class="text-danger"></span>
                      </div>

                      <div class="form-group">
                          <label asp-for="EndDate" class="control-label"></label>
                          <input asp-for="EndDate" type="text" id="TxtTo" class="form-control" />
                          <span asp-validation-for="EndDate" class="text-danger"></span>
                      </div>
                      <div class="form-group" hidden>
                          <label asp-for="EmployeeEmail" class="control-label"></label>
                          <input asp-for="EmployeeEmail" value="@user.Email" class="form-control" />
                          <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
                      </div>
                      <div class="form-group" hidden>
                          <label asp-for="EmployeeId" class="control-label"></label>
                          <input asp-for="EmployeeId" value="@user.Id" class="form-control" />
                          <span asp-validation-for="EmployeeId" class="text-danger"></span>
                      </div>
                      <div class="form-group">
                          <label asp-for="LeaveTypeId" class="control-label"></label>
                          <select asp-for="LeaveTypeId" class="form-control" asp-items="ViewBag.LeaveTypeId"></select>

                      </div>
                      <div class="form-group">
                          <label asp-for="Purpose" class="control-label"></label>
                          <textarea asp-for="Purpose" class="form-control"></textarea>
                          <span asp-validation-for="Purpose" class="text-danger"></span>
                      </div>

                      <div class="form-group" hidden>
                          <label asp-for="UnitsId" class="control-label"></label>
                          <select asp-for="UnitsId" class="form-control" asp-items="ViewBag.UnitsId">
                              <option selected value="@user.UnitsId"></option>
                          </select>

                      </div>

                      @*<div class="form-group">
            <label asp-for="HandOver" class="control-label"></label>
            <textarea asp-for="HandOver" class="form-control"></textarea>
            <span asp-validation-for="HandOver" class="text-danger"></span>
        </div>*@

                      <div class="form-group" hidden>
                          <label asp-for="AddedBy" class="control-label"></label>
                          <input asp-for="AddedBy" value="@user.Email" class="form-control" />
                          <span asp-validation-for="AddedBy" class="text-danger"></span>
                      </div>
                      <div class="form-group" hidden>
                          <label asp-for="UpdatedBy" class="control-label"></label>
                          <input asp-for="UpdatedBy" class="form-control" />
                          <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                      </div>
                      <div class="form-group" hidden>
                          <label asp-for="CreateDate" class="control-label"></label>
                          <input asp-for="CreateDate" class="form-control" />
                          <span asp-validation-for="CreateDate" class="text-danger"></span>
                      </div>
                      <div class="form-group" hidden>
                          <label asp-for="UpdateDate" class="control-label"></label>
                          <input asp-for="UpdateDate" class="form-control" />
                          <span asp-validation-for="UpdateDate" class="text-danger"></span>
                      </div>
                      <div class="form-group" hidden>
                          <div class="checkbox">
                              <label>
                                  <input asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                              </label>
                          </div>
                      </div>

                      <div class="form-group">

                          <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
                          <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                          <br />

                      </div>
                  </form>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(function(){
  $("#TxtFrom").datepicker({
    numberOfMonths:1,
    //dateFormat:'DD,d MM, yy',
    dateFormat:'yy-mm-dd',
    onSelect:function(selectdate){
      var dt=new Date(selectdate);
      dt.setDate(dt.getDate()+1)
      $("#TxtTo").datepicker("option","minDate",dt)
    }
  });
  
  
   $("#TxtTo").datepicker({
    numberOfMonths:1,
    //dateFormat:'DD,d MM, yy',
       dateFormat:'yy-mm-dd',
    onSelect:function(selectdate){
      var dt=new Date(selectdate);
      dt.setDate(dt.getDate()-1)
      $("#TxtFrom").datepicker("option","maxDate",dt)
    }
  });
});

    </script>


    @*<script>
            $('#validMinDatepicker').datepicker({minDate: -7});
        </script>*@

    @*$(function () {
    $("#datepicker").datepicker({
    minDate: +1, maxDate: "+3M"
    });
    });*@
}
