﻿@model IEnumerable<Novo.Models.Entity.Leaves>

@{
    ViewData["Title"] = "Index";
}


@using Novo.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Staff List";
    var user = await UserManager.GetUserAsync(User);
}


<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Leave List</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-md btn-outline-success float-md-right" asp-action="Create"> New Leave Request</a>
                        <br />
                        <br />
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Leave Purpose</th>
                                    <th>Unit Head</th>
                                    <th>HR</th>
                                    <th>Status</th>
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.EmployeeEmail</td>
                                    <td>@item.StartDate</td>
                                    <td>@item.EndDate</td>
                                    <td>@item.Purpose</td>
                                    <td>
                                        @if (item.isUnitHeadDisapprove == true)
                                        {
                                            <p>Disapproved</p>
                                        }
                                        else if (item.isUnitHeadApproved == true && item.isUnitHeadDisapprove == false)
                                        {
                                            <p>Approved</p>
                                        }
                                        else
                                        {
                                            <p>Awaiting Approval</p>
                                        }
                                        @*@if (item.isUnitHeadApproved == false)
        {
            <p>Not Approved</p>
        }
        else if(item.isUnitHeadDisapprove == true)
        {
            <p>Disapproved</p>
        }
        else
        {
        <p>Approved</p>
        }*@
                                    </td>
                                    <td>
                                        @if (item.isUnitHeadDisapprove == true)
                                        {
                                            <p>Unit Head Disapproved</p>
                                        }
                                        else if (item.isHrApproved == false)
                                        {
                                            <p>Not Approved</p>
                                        }
                                        else
                                        {
                                            <p>Approved</p>
                                        }
                                        @*@if (item.isHrApproved == false)
        {
            <p>Not Approved</p>
        }
        else
        {

            <p>Approved</p>
        }*@
                                    </td>
                                    <td>
                                        @if (item.isUnitHeadApproved == true && item.isHrApproved == true)
                                        {
                                            <p>Approved</p>
                                        }
                                        else if(item.isUnitHeadDisapprove == true || item.isHrDisapprove == true)
                                        {
                                            <p>Disapproved</p>
                                        }
                                        @*@if (item.isHrApproved == false || item.isUnitHeadApproved == false)
                                        {
                                            <p>Undergoing Review</p>
                                        }
                                        else
                                        {
                                            <p>Approved</p>
                                        }*@
                                    </td>

                                    <td>
                                        <div class="btn-group">
                                            @if (item.isHrApproved == false && item.isUnitHeadDisapprove == false && item.isUnitHeadApproved == false && item.isUnitHeadDisapprove == false)
                                            {
                                                <button type="button" class="btn btn-purple dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="true">
                                                    action <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a asp-action="Details" asp-route-id="@item.Id" class=""><i class="fa fa-sticky-note" style="color:dodgerblue"></i>Details</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="Edit" asp-route-id="@item.Id" class=""><i class="fa fa-pencil" style="color:powderblue"></i>Edit</a>
                                                    </li>

                                                </ul>
                                            }
                                        </div>
                                    </td>



                                    @*<td><a type="button" class="btn btn-sm btn-indigo m-0" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                                    <td><a type="button" class="btn btn-sm btn-primary m-0" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                                    <td><a type="button" class="btn btn-sm btn-red m-0" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>*@

                                </tr>
                                }
                            </tbody>
                        </table><br />


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>