﻿@model Novo.Models.Entity.EmployeeContact

@{
    ViewData["Title"] = "Edit";
}

@*<h2>Edit</h2>

<h4>EmployeeContact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label"></label>
                <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId"></select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateOfOrigin" class="control-label"></label>
                <input asp-for="StateOfOrigin" class="form-control" />
                <span asp-validation-for="StateOfOrigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LgaId" class="control-label"></label>
                <select asp-for="LgaId" class="form-control" asp-items="ViewBag.LgaId"></select>
                <span asp-validation-for="LgaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label"></label>
                <select asp-for="RegionId" class="form-control" asp-items="ViewBag.RegionId"></select>
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryOfOrigin" class="control-label"></label>
                <input asp-for="CountryOfOrigin" class="form-control" />
                <span asp-validation-for="CountryOfOrigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeneficiaryName" class="control-label"></label>
                <input asp-for="BeneficiaryName" class="form-control" />
                <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeneficiaryNo" class="control-label"></label>
                <input asp-for="BeneficiaryNo" class="form-control" />
                <span asp-validation-for="BeneficiaryNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeneficiaryAddress" class="control-label"></label>
                <input asp-for="BeneficiaryAddress" class="form-control" />
                <span asp-validation-for="BeneficiaryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyName" class="control-label"></label>
                <input asp-for="EmergencyName" class="form-control" />
                <span asp-validation-for="EmergencyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyNo" class="control-label"></label>
                <input asp-for="EmergencyNo" class="form-control" />
                <span asp-validation-for="EmergencyNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyAddress" class="control-label"></label>
                <input asp-for="EmergencyAddress" class="form-control" />
                <span asp-validation-for="EmergencyAddress" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AddedBy" class="control-label"></label>
                <input asp-for="AddedBy" class="form-control" />
                <span asp-validation-for="AddedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@



@using Novo.Models.Entity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewBag.Title = "Edit Employee";
    var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
    var user = await UserManager.GetUserAsync(User);
    var formtype = "hidden";
    var Input = "readonly";
}



<div class="card shadow mb-4 col-sm-10 m-auto">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Employee</h6>
    </div>
    <div class="card-body">
        <div>
            <form asp-action="edit" id="dataTable" width="100%" cellspacing="0">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group" hidden>
                    <input asp-for="EmployeeId" value="@user.Id" class="form-control form-control" readonly>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StateId" class="control-label"></label>
                    <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="RegionId" class="control-label"></label>
                    <select asp-for="RegionId" class="form-control" asp-items="ViewBag.RegionId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="LgaId" class="control-label"></label>
                    <select asp-for="LgaId" class="form-control" asp-items="ViewBag.LgaId"></select>
                </div>

                <div class="form-group">
                    <label asp-for="CountryOfOrigin" class="control-label"></label>
                    <input asp-for="CountryOfOrigin" class="form-control" />
                    <span asp-validation-for="CountryOfOrigin" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="AddedBy" class="control-label"></label>
                    <input asp-for="AddedBy" value="@user.Email" class="form-control" />
                    <span asp-validation-for="AddedBy" class="text-danger"></span>
                </div>
                <h5>Beneficiary</h5>
                <hr />
                <div class="form-row m-auto">
                    <div class="form-group col-md-5">
                        <label asp-for="BeneficiaryName" class="control-label"></label>
                        <input asp-for="BeneficiaryName" class="form-control" />
                        <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="BeneficiaryNo" class="control-label"></label>
                        <input asp-for="BeneficiaryNo" class="form-control" />
                        <span asp-validation-for="EmergencyNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="BeneficiaryAddress" class="control-label"></label>
                    <textarea asp-for="BeneficiaryAddress" class="form-control"></textarea>
                    <span asp-validation-for="BeneficiaryAddress" class="text-danger"></span>
                </div>

                <h5>Emergency Contact</h5>
                <hr />
                <div class="form-row m-auto">
                    <div class="form-group col-md-5">
                        <label asp-for="EmergencyName" class="control-label">Name</label>
                        <input asp-for="EmergencyName" class="form-control" />
                        <span asp-validation-for="EmergencyName" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="EmergencyNo" class="control-label"></label>
                        <input asp-for="EmergencyNo" class="form-control" />
                        <span asp-validation-for="EmergencyNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EmergencyAddress" class="control-label"></label>
                    <textarea asp-for="EmergencyAddress" class="form-control"></textarea>
                    <span asp-validation-for="EmergencyAddress" class="text-danger"></span>
                </div>

                <div class="form-group" hidden>
                    <label asp-for="CreateDate" class="control-label"></label>
                    <input asp-for="CreateDate" value="@DateTime.Now" class="form-control" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
                    <a asp-action="details" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                    <br />

                </div>



            </form>
        </div>
    </div>
</div>