﻿@model Novo.Models.ViewModels.EmployeeVm
@using Novo.Models.Entity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewBag.Title = "Create Employee";
    var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
    var user = await UserManager.GetUserAsync(User);
    var formtype = "hidden";
    var Input = "readonly";
}



<p class="label-success">@ViewBag.ResultMessage</p>
@{
    var Fullname = user.FirstName + " " + user.LastName;
}

@{
    ViewData["Title"] = "Create";
}


<div class="col-md-9 m-auto grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Employee List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create Profile</li>
                </ol>
            </nav><br />

            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row m-auto">
                    <div class="form-group col-md-5" hidden>
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <input asp-for="EmployeeId" value="@user.Id" class="form-control" readonly />
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-5">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" value="@user.Email" class="form-control" readonly />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="Fullname" class="control-label"></label>
                        <input asp-for="Fullname" value="@Fullname" class="form-control" readonly />
                        <span asp-validation-for="Fullname" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-row">

                    <div class="form-group col-md-5">
                        <label asp-for="BloodGroup" class="control-label"></label>
                        <select asp-for="BloodGroup" class="form-control">
                            <option>--Select--</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="DOB" class="control-label"></label>
                        <input asp-for="DOB" class="form-control" />
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control">
                            <option>--Select--</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="MaritalStatus" class="control-label"></label>
                        <select asp-for="MaritalStatus" class="form-control">
                            <option>--Select--</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Divorced">Divorced</option>
                        </select>
                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label asp-for="Designation" class="control-label"></label>
                        <input asp-for="Designation" class="form-control" />
                        <span asp-validation-for="Designation" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="EmployeeNo" class="control-label"></label>
                        <input asp-for="EmployeeNo" value="NHA-@Code" class="form-control" readonly />
                        <span asp-validation-for="EmployeeNo" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="form-row">
                        <div class="form-group col-md-5">
                            <label asp-for="EmployeementDetails.Email" class="control-label"></label>
                            <input asp-for="EmployeementDetails.Email" value="@user.Email" class="form-control" readonly />
                            <span asp-validation-for="EmployeementDetails.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-1"></div>

                    </div>*@

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label asp-for="DateOfEmployment" class="control-label"></label>
                        <input asp-for="DateOfEmployment" class="form-control" />
                        <span asp-validation-for="DateOfEmployment" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" type="file" class="form-control" disabled/>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label asp-for="CUG" class="control-label"></label>
                        <input asp-for="CUG" class="form-control" />
                        <span asp-validation-for="CUG" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                </div>



                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
                    @*<a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>*@
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>
