﻿@model Novo.Models.ViewModels.EmployeeEditVm

@{
    ViewData["Title"] = "Edit";
}


<div class="col-md-9 m-auto grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Employee List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create Profile</li>
                </ol>
            </nav><br />

            <form asp-action="edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row m-auto">
                    @*<div class="form-group col-md-5">
                            <label asp-for="EmployeeId" class="control-label"></label>
                            <input asp-for="EmployeeId" class="form-control" readonly />
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>*@
                    <div class="form-group col-md-5">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" readonly />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="Fullname" class="control-label"></label>
                        <input asp-for="Fullname" class="form-control" readonly />
                        <span asp-validation-for="Fullname" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label asp-for="BloodGroup" class="control-label"></label>
                        <input asp-for="BloodGroup" class="form-control" />
                        <span asp-validation-for="BloodGroup" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="DOB" class="control-label"></label>
                        <input asp-for="DOB" class="form-control" />
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control">
                            <option>--Select--</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="MaritalStatus" class="control-label"></label>
                        <input asp-for="MaritalStatus" class="form-control" />
                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label asp-for="Designation" class="control-label"></label>
                        <input asp-for="Designation" class="form-control" />
                        <span asp-validation-for="Designation" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="EmployeeNo" class="control-label"></label>
                        <input asp-for="EmployeeNo" class="form-control" readonly />
                        <span asp-validation-for="EmployeeNo" class="text-danger"></span>
                    </div>
                </div>

                <input type="hidden" asp-for="Id" />
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label asp-for="DateOfEmployment" class="control-label"></label>
                        <input asp-for="DateOfEmployment" class="form-control" />
                        <span asp-validation-for="DateOfEmployment" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" type="file" name="files" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label asp-for="CUG" class="control-label"></label>
                        <input asp-for="CUG" class="form-control" />
                        <span asp-validation-for="CUG" class="text-danger"></span>
                    </div>
                    <div class="col-md-1"></div>
                </div>



                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
                    <a asp-action="details" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>

