﻿@model IEnumerable<Novo.Models.Entity.Appraise>
@using Novo.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Staff List";
}



<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <div class="row">
                            <div class="col-lg-12">

                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col col-md-6">
                                    <table>
                                        <tr>
                                            <td>
                                                <i class="fa fa-thumbs-o-up
                                                    fa-4x"></i>
                                            </td>
                                            <td>
                                                <h4>
                                                    Appraisal</h4>
                                                    <p>&nbsp;&nbsp;&nbsp; Manage Appraisal</p>
                                            </td>
                                        </tr>
                                    </table>


                                </div>
                                <div class="col col-md-6">


                                    <ol class="breadcrumb">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-thumbs-o-up
                                                           "></i> Apraisal List

                                            </a>
                                        </li>
                                        <li><a href="#">Index</a></li>

                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="row mb">
            <div class="col-lg-12">
                @*<a href="" class="btn btn-facebook btn-rounded mb-4" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-plus"></i> Add New Staff
                </a>*@
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <p>
                            <br /><br />
                        </p>
                        <table id="datatable" class="table-responsive
                               table-bordered" cellspacing="0" width="97%">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.AppraisalDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AppraisalMode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmployeeRating)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ManagerRating)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HrRating)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Grade)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.HeadOfUnitRemark)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HrRemark)
                                    </th>
                                   
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateDate)
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppraisalDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppraisalMode)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeRating)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ManagerRating)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HrRating)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Grade)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.HeadOfUnitRemark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HrRemark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdateDate)
                                    </td>
                                 
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-purple dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="true">
                                                action <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class=""><i class="fa fa-pencil" style="color:blue"></i>    Edit</a>
                                                </li>
                                                <li>
                                                    <hr />
                                                    <a asp-action="Details" asp-route-id="@item.Id" class=""><i class="fa fa-th-list" style="color:green"></i> Details</a>
                                                </li>
                                                <li>
                                                    <hr />
                                                    <a asp-action="Delete" class="" asp-route-id="@item.Id"><i class="fa fa-trash" style="color:red"></i> Delete</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>
                        <p>
                            <br /><br />
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <!-- /col-lg-12 -->
        
    </section>
</section>