﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
    <section id="main-content">
        <section class="wrapper">
            <div class="row mb">
                <div class="col-lg-12">
                    <div class="content-panel border rounded">
                        <h1 class="text-danger">Error.</h1>
                        <h2 class="text-danger">An error occurred while processing your request.</h2>

                        @if (Model.ShowRequestId)
                        {
                            <p>
                                <strong>Request ID:</strong> <code>@Model.RequestId</code>
                            </p>
                        }

                        <h3>Development Mode</h3>
                        <p>
                            Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
                        </p>
                        <p>
                            <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
                        </p>
                    </div>
                </div>
             </div>
        </section>
     </section>