﻿@model Novo.Models.Entity.Qualification
@using Novo.Models.Entity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewBag.Title = "Create Qualifications";
    var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
    var user = await UserManager.GetUserAsync(User);
    var formtype = "hidden";
    var Input = "readonly";
}

<div class="card shadow mb-4 col-sm-8 m-auto">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Qualification</h6>
    </div>
    <div class="card-body">
        <div>
            <form asp-action="create" id="dataTable" width="100%" cellspacing="0">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input asp-for="EmployeeId" value="@user.Id" class="form-control form-control" readonly>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Academic" class="control-label"></label>
                    <input asp-for="Academic" class="form-control" />
                    <span asp-validation-for="Academic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AcademicDescription" class="control-label"></label>
                    <textarea asp-for="AcademicDescription" class="form-control"></textarea>
                    <span asp-validation-for="AcademicDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Professional" class="control-label"></label>
                    <input asp-for="Professional" class="form-control" />
                    <span asp-validation-for="Professional" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProfessionalDescription" class="control-label"></label>
                    <textarea asp-for="ProfessionalDescription" class="form-control"></textarea>
                    <span asp-validation-for="ProfessionalDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Institution" class="control-label"></label>
                    <textarea asp-for="Institution" class="form-control"></textarea>
                    <span asp-validation-for="Institution" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duration" class="control-label"></label>
                    <input asp-for="Duration" class="form-control" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddedBy" class="control-label"></label>
                    <input asp-for="AddedBy" value="@user.Email" class="form-control" />
                    <span asp-validation-for="AddedBy" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CreateDate" class="control-label"></label>
                    <input type="Date" asp-for="CreateDate" value="@DateTime.Now" class="form-control" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>


                <input type="submit" value="Next" class="col-sm-2 m-auto btn btn-primary btn-user btn-block" />



            </form>
        </div>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
