﻿@model Novo.Models.Entity.Qualification
@using Novo.Models.Entity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewBag.Title = "Edit Employee";
    var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
    var user = await UserManager.GetUserAsync(User);
    var formtype = "hidden";
    var Input = "readonly";
}

<h2>Edit</h2>

<h4>Employee Contact</h4>
<hr />
@{
    var Fullname = user.FirstName + " " + user.LastName;
}
<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">
                    <div class="adv-table">

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group" hidden>
                                        <label asp-for="EmployeeId" class="control-label"></label>
                                        <input asp-for="EmployeeId" class="form-control" />
                                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Academic" class="control-label"></label>
                                        <input asp-for="Academic" class="form-control" />
                                        <span asp-validation-for="Academic" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AcademicDescription" class="control-label"></label>
                                        <textarea asp-for="AcademicDescription" class="form-control"></textarea>
                                        <span asp-validation-for="AcademicDescription" class="text-danger"></span>
                                    </div>
                                  
                                 
                                    <div class="form-group">
                                        <label asp-for="Institution" class="control-label"></label>
                                        <textarea asp-for="Institution" class="form-control"></textarea>
                                        <span asp-validation-for="Institution" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Duration" class="control-label"></label>
                                        <input asp-for="Duration" class="form-control" />
                                        <span asp-validation-for="Duration" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="StartDate" class="control-label"></label>
                                        <input asp-for="StartDate" class="form-control" />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="EndDate" class="control-label"></label>
                                        <input asp-for="EndDate" class="form-control" />
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group" hidden>
                                        <label asp-for="AddedBy" class="control-label"></label>
                                        <input asp-for="AddedBy" class="form-control" />
                                        <span asp-validation-for="AddedBy" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="UpdatedBy" class="control-label"></label>
                                        <input asp-for="UpdatedBy" value="@user.Email" class="form-control" />
                                        <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                                    </div>
                                   
                                    <div class="form-group" hidden>
                                        <label asp-for="UpdateDate" class="control-label"></label>
                                        <input asp-for="UpdateDate" value="@DateTime.Now" class="form-control" />
                                        <span asp-validation-for="UpdateDate" class="text-danger"></span>
                                    </div>
                                   
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-facebook" />
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4"></div>

                </div>

            </div>
        </div>
    </section>


</section>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
