﻿@model IEnumerable<Novo.Models.Entity.Qualification>
@using Novo.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Staff List";
    var user = await UserManager.GetUserAsync(User);
}

@*<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <div class="row">
                            <div class="col-lg-12">

                            </div>
                        </div>
                        <br />

             
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Add New Staff</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <br /><br /><br />
                                    <div class="form-group">
                                            <div class="col-sm-10">
                                                <label>
                                                    Subsidiary
                                                </label>
                                                @Html.DropDownList("CompanySubsidiary", (IEnumerable<SelectListItem>)ViewBag.Subsidiary, null, new { @class = "form-control" })
                                            </div>
                                        </div><br /><br />
                                    <div class="form-group">

                                        <div class="col-sm-10">
                                            <label>Staff Fullname</label>
                                            <input type="text" name="StaffFullname"
                                                   value="" placeholder="Enter Staff Full Name " class="form-control">

                                        </div>
                                    </div>
                                    <br /><br /><br />
                                    <div class="form-group">

                                        <div class="col-sm-10">
                                            <label>
                                                Staff Id
                                            </label>
                                            <input type="text" name="StaffId" value="" placeholder="Enter Staff Id" class="form-control" required>
                                        </div>
                                    </div><br /><br /><br />

                                    <div class="form-group">
                                            <div class="col-sm-10">
                                                <label>
                                                    Select Staff Plan
                                                </label>
                                                @Html.DropDownList("StaffPlanid", (IEnumerable<SelectListItem>)ViewBag.Plan, null, new { @class = "form-control" })
                                            </div>
                                        </div><br /><br />



                                    <div class="form-group" hidden>
                                        <input type="datetime" name="CreateDate" class="form-control" value="@DateTime.Now" placeholder="@DateTime.Now" />
                                    </div>

                                    <br /><br />

                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-facebook" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">


                        </div>
                    </div>
                </div>
            </div>

        </div>





        <div class="row mb">
            <div class="col-lg-12">
               
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <p>
                            <br /><br />
                        </p>
                        <table id="datatable" class="table-bordered table-striped table-responsive" cellspacing="0" width="97%">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmployeeId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Academic)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AcademicDescription)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Professional)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProfessionalDescription)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Institution)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Duration)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EndDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AddedBy)
                                    </th>
                                
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </th>
                        
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Academic)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AcademicDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Professional)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProfessionalDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Institution)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Duration)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AddedBy)
                                        </td>
                                  
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>
                                      
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-purple dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="true">
                                                    action <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a asp-action="Details" asp-route-id="@item.Id" class=""><i class="fa fa-pencil" style="color:blue"></i>Details</a>
                                                    </li>


                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                        </table>
                        <p>
                            <br /><br />
                        </p>
                    </div>
                </div>
            </div>

             /col-lg-12 
        </div>
    </section>
</section>*@







<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Academic History List</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create"> New Academic History</a>
                        <br /><br />
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Academic Qualification</th>
                                    @*<th>Description</th>*@
                                    <th>Professional Qualification</th>
                                    @*<th>Description</th>*@
                                    <th>Institution</th>
                                    <th>Duration</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @user.FirstName @user.LastName
                                            @*<a asp-action="Detail" asp-route-id="@item.Id"> @item.EmployeeId</a>*@
                                        </td>
                                        <td>@item.Academic</td>
                                        @*<td>@item.AcademicDescription</td>*@
                                        <td>@item.Professional</td>
                                        @*<td>@item.ProfessionalDescription</td>*@
                                        <td>@item.Institution</td>
                                        <td>@item.Duration</td>
                                        <td>@item.StartDate</td>
                                        <td>@item.EndDate</td>
                                        <td>
                                            <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id">
                                                <i class="fas fa-edit"></i> 
                                            </a>
                                            &nbsp;
                                            &nbsp;
                                            <a class="text-success" asp-action="Details" asp-route-id="@item.Id">
                                                <i class="fas fa-bars"></i> 
                                            </a>
                                            &nbsp;
                                            &nbsp;
                                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">
                                                <i class="far fa-trash-alt"></i> 
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table><br />


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>